
:root {
	 
	--simple-white-1:hsla(204, 45%, 97%, 1);
	--simple-white-2:hsla(210, 45%, 95%, 1);
	--simple-white-3:hsla(212, 17%, 80%, 0.2);
	--simple-white-6:hsla(212, 17%, 80%, 0.3);
	--simple-white-4:hsla(180, 33%, 99%, 1);
	--simple-white-5:hsla(207, 10%, 90%, 0.1);
	
	--simple-blue-1:hsla(209, 95%, 62%, 1);
	--simple-blue-2:hsla(209, 85%, 72%, 0.5);
	--simple-blue-3: hsla(245, 60%, 67%, 1);
	--simple-blue-4:hsla(209, 20%, 66%, 0.62);

	--simple-black-1:hsla(0, 0%, 13%, 1);
	--simple-black-2:hsla(220, 20%, 35%, 1);
	--simple-gray-1:hsla(0, 0%, 33%, 1);
	--simple-gray-2:hsla(210, 15%, 70%, 0.2);
	--simple-gray-3:hsla(210, 15%, 20%, 0.2);
	--simple-gray-4:hsla(210, 6%, 38%, 0.5);
	--simple-gray-5:hsla(207, 17%, 90%, 1);
	--simple-gray-6:hsla(217, 15%, 83%, 1);	
	--simple-gray-7:hsla(217, 15%, 83%, 0.7);	
	--simple-tran:hsla(204, 45%, 97%, 0.1);
	--simple-yellow:hsla(60, 100%, 50%, 0.4);
	--simple-orange:hsla(25, 75%, 65%, 1);
	--simple-red-1:hsla(365, 90%, 62%, 1);
	--simple-red-2:hsl(365, 95%, 85%, 1);
	--simple-red-3:hsl(365, 85%, 45%, 1);
  

}


body.color-scheme-options-simplicity-topaz .theme-light,
body.color-scheme-options-simplicity-topaz.theme-light {

  --h1-color: var(--print-h1-color,var(--text-normal));
  --h2-color: var(--print-h2-color,var(--text-normal));
  --h3-color: var(--print-h1-color,var(--text-normal));
  --h4-color: var(--print-h2-color,var(--text-normal));  
  --h5-color: var(--print-h2-color,var(--text-normal));
  --h6-color: var(--print-h2-color,var(--text-normal));
    --background-accent:  var(--simple-white-1);
  --background-modifier-border: var(--simple-gray-5);
  --background-modifier-form-field:  var(--simple-white-1);
  --background-modifier-form-field-highlighted:  var(--simple-white-1);
  --background-modifier-box-shadow: 0 3px 5px transparent;

  --text-accent: var(--simple-black-2);
  --text-accent-hover: #4ba8ff;
  --text-normal: var(--simple-black-1);
  --text-muted: hsla(218, 19%, 39%, 1);
 
  --text-faint: hsla(218, 19%, 39%, 1);

  --accent-em: var(--simple-gray-4);
  --text-error: var(--simple-red-1);


  --text-selection: var(--simple-gray-7);
  --text-on-accent: var(--simple-white-2);
  --interactive-normal: var(--simple-white-2);
  --interactive-hover: var(--simple-white-4);
  --interactive-accent-rgb: 70, 142, 235;
  --interactive-accent: var(--simple-gray-4);
  --interactive-accent-hover: var(--simple-blue-2);
  --panel-border-color: var(--simple-white-4);
 
  --background-primary-bg-4-bt: var(--simple-white-2);
  --background-primary-alt-bg-4-bt: var(--simple-tran);
  --background-secondary-bg-4-bt:  var(--simple-tran);
  --background-secondary-alt-bg-4-bt: var(--simple-tran);


  --background-mobile-drawer-1: var(--simple-white-1);
  --background-mobile-drawer-2: var(--simple-white-1);
  --background-modifier-border-hr: var(--simple-gray-5);
  --background-secondary-alt-bg-4-bt-publish: var(--simple-gray-5);

  --scrollbar-thumb: var(--simple-gray-5);

    
    --color-black:		var(--simple-black-1);
	--color-dark-gray:	var(--simple-gray-1);
	--color-accent:		var(--simple-blue-1);
	--color-accent-alt:	var(--simple-blue-2);
	--color-accent-dark:	var(--simple-blue-3);
	--color-gray:		var(--simple-gray-2);
	--color-light-gray:	var(--simple-gray-3);
	--color-medium-gray:var(--simple-gray-4);
	
	--modal-group-border:	var(--simple-gray-6);
	--button-selected:		var(--simple-white-6);
	--button-hover:			var(--simple-white-6);
	--button-selected-hover:var(--simple-white-3);
	
	--window-shadow:			0 1px 3px var(--simple-white-3);
	--window-shadow2:			0 0 9px var(--simple-gray-7);
	--window-shadow-hover:		0 3px 5px var(--simple-white-6);
	--window-shadow-transparent:0 3px 5px transparent;
	
	--border:1px solid var(--simple-gray-5);
	
	
	--background-primary:		var(--simple-white-1);
	--background-secondary:		var(--simple-white-2);
	--background-secondary-alt:	var(--simple-gray-5);
	--background-tertiary:		var(--simple-white-3);
	
	--background-accent:	var(--simple-blue-1);	
	--background-fourth:	var(--simple-white-4);
	--background-fifth:		var(--simple-white-5);
	--background-sixth:		var(--simple-white-4);

	--text-color-code:		var(--simple-orange);
	--text-normal:		var(--simple-black-1);
	--text-error:		var(--simple-red-1);
	--text-on-accent:	var(--simple-white-1);
	--text-faint:		var(--simple-gray-1);
	--text-highlight-bg:var(--simple-yellow);
    --accent-strong:		var(--simple-black-2);
	 --accent-em:			var(--simple-gray-4);
	--text-muted:		hsla(218, 19%, 39%, 1);
	
	--background-modifier-error:	var(--simple-red-1);
	--background-modifier-border:	var(--simple-gray-5);
    --custom-titlebar-bg: var(--background-secondary-bg-4-bt);
    --background-code-2: var(--simple-tran);
	--scrollbar-bg: transparent;
}


body.color-scheme-options-simplicity-topaz.all-dark .print.theme-light,
body.color-scheme-options-simplicity-topaz.theme-dark {
	
	/* dark mode quick hack */
	--simple-white-1:hsla(215, 17%, 19%, 1);
	--simple-white-2:hsla(214, 24%, 15%, 1);
	--simple-white-3:hsla(212, 17%, 22%, 0.9);
	--simple-white-6:hsla(212, 17%, 0%, 0.3);
	--simple-white-4:hsla(215, 22%, 13%, 1);
	--simple-white-5:hsla(207, 10%, 10%, 0.1);
	
	--simple-black-1:hsla(0, 0%, 73%, 1);
	--simple-black-2:hsla(213, 33%, 65%, 1);
	--simple-gray-1:hsla(0, 0%, 83%, 1);
	--simple-gray-2:hsla(210, 25%, 5%, 0.3);
	--simple-gray-3:hsla(210, 15%, 50%, 0.4);
	--simple-gray-4:hsla(210, 15%, 70%, 0.5);
	--simple-gray-5:hsla(207, 17%, 10%, 0.5);
	--simple-gray-6:hsla(217, 18%, 50%, 0.7);
	--simple-gray-7:hsla(217, 18%, 50%, 0.9);
	
	--simple-yellow:hsla(45, 63%, 43%, 1);
	--simple-blue-3:hsla(245, 60%, 67%, 1);
	
	
	
	
	--color-black:		var(--simple-black-1);
	--color-dark-gray:	var(--simple-gray-1);
	--color-accent:		var(--simple-blue-1);
	--color-accent-alt:	var(--simple-blue-2);
	--color-accent-dark:	var(--simple-blue-3);
	--color-gray:		var(--simple-gray-2);
	--color-light-gray:	var(--simple-gray-3);
	--color-medium-gray:var(--simple-gray-4);
	
	--modal-group-border:	var(--simple-gray-6);
	--button-selected:		var(--simple-white-6);
	--button-hover:			var(--simple-white-6);
	--button-selected-hover:var(--simple-white-3);
	
	--window-shadow:			0 1px 3px var(--simple-white-5);
	--window-shadow2:			0 0 9px var(--simple-white-6);
	--window-shadow-hover:		0 3px 5px var(--simple-white-6);
	--window-shadow-transparent:0 3px 5px transparent;
	
	--border:1px solid var(--simple-gray-5);
	
	--background-primary:		var(--simple-white-1);
	--background-secondary:		var(--simple-white-2);
	--background-secondary-alt:	var(--simple-gray-5);
	--background-tertiary:		var(--simple-white-3);
	--background-primary-alt:	var(--simple-white-6);
	
	--background-accent:	var(--simple-blue-1);	
	--background-fourth:	var(--simple-white-3);
	--background-fifth:		var(--simple-white-5);
	--background-sixth:		var(--simple-white-5);

	
	--text-color-code:		var(--simple-orang-1);
	--text-normal:		var(--simple-black-1);
	--text-error:		var(--simple-red-1);
	--text-on-accent:	var(--simple-white-1);
	--text-faint:		var(--simple-gray-6);
	--text-highlight-bg:var(--simple-yellow);
	--text-bold:		var(--simple-black-2);
	--text-em:			var(--simple-gray-6);
	--text-muted: 		hsl(218, 17%, 58%);


	--background-modifier-error:	var(--simple-red-1);
	--background-modifier-border:	var(--simple-gray-5);
	--interactive-accent:			var(--simple-blue-1);
	--indentation-guide:			var(--simple-gray-3);
	
	--scrollbar-bg: transparent;
}

/*
--------------------------- 
	Title Bar
---------------------------
*/
body.color-scheme-options-simplicity-topaz .view-header .view-actions,
body.color-scheme-options-simplicity-topaz  .titlebar-button-container.mod-right{
	opacity:0;
	z-index:1;	
    transition: all 0.6s linear;
}
body.color-scheme-options-simplicity-topaz .view-header .view-actions:hover,
body.color-scheme-options-simplicity-topaz .titlebar-button-container.mod-left:hover,
body.color-scheme-options-simplicity-topaz .titlebar-button-container.mod-right:hover{
	opacity:1;
    transition: all 0.6s linear;
}



body.color-scheme-options-simplicity-topaz .markdown-preview-view{
	padding-inline:63px;
}
body.color-scheme-options-simplicity-topaz .markdown-source-view .cm-content{
	padding-inline:13px;
}

/* Hide dock's tab menu, and show them when hovered  */
body.color-scheme-options-simplicity-topaz   .workspace-tab-header-container{
   
	z-index:1;
	/* height:1px; */
	transition:opacity 0.1s;
	border-radius:var(--button-radius);
	 
	box-shadow:var(--window-shadow);
	width:100%;
}

/* Left dock navigation (new note, new folder, reorder) */
body.color-scheme-options-simplicity-topaz .workspace-tab-header-container:hover + .workspace-leaf .workspace-leaf-content[data-type="file-explorer"] .nav-header{
    margin-top: 0px;
transition: all 0.3s linear;
}
body.color-scheme-options-simplicity-topaz .workspace-tab-header-container + .workspace-leaf .workspace-leaf-content[data-type="file-explorer"] .nav-header:hover{
    margin-top: 0px;
    }
body.color-scheme-options-simplicity-topaz .workspace-tab-header-container + .workspace-leaf .workspace-leaf-content[data-type="file-explorer"] .nav-header{
    margin-top: -30px;
    transition: all 0.6s linear;
    }
 

/* Remove style for border-on-active */
body.color-scheme-options-simplicity-topaz .workspace-tabs .workspace-leaf,
body.color-scheme-options-simplicity-topaz .workspace-tabs .workspace-leaf.mod-active{
	border:none;
}


/*
--------------------------- 
	Note Title
---------------------------
*/
body.color-scheme-options-simplicity-topaz .workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header,
body.color-scheme-options-simplicity-topaz .workspace-split.mod-horizontal > .workspace-leaf .view-header,
body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical > .workspace-leaf .view-header{
	height:auto;
	display:flex;
	align-items:center;
	border:none;
	background:var(--simple-white-2);
}
body.color-scheme-options-simplicity-topaz.theme-dark .workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header,
body.color-scheme-options-simplicity-topaz.theme-dark .workspace-split.mod-horizontal > .workspace-leaf .view-header,
body.color-scheme-options-simplicity-topaz.theme-dark .workspace-split.mod-vertical > .workspace-leaf .view-header{

    background-color: var(--background-secondary-alt-bg-4-bt);
}

body.color-scheme-options-simplicity-topaz .view-header-title{
	font-size:1rem;
	border-radius:var(--button-radius);
	padding:2px 10px;
	margin-left:0px;
	border:1px solid transparent;
	transition:border 0.2s, background 0.2s;
}

body.color-scheme-options-simplicity-topaz .view-header-title:hover,
body.color-scheme-options-simplicity-topaz .view-header-title:focus{
	background:var(--background-fourth);
    
}

  
body.color-scheme-options-simplicity-topaz .view-action,
body.color-scheme-options-simplicity-topaz .view-header-icon{
	display:flex;
	padding:4px;
	margin:0 3px;
	color:var(--color-dark-gray);
	border-radius:var(--button-radius);
	transition:0.1s background, 0.1s opacity;
	top:0;
}

body.color-scheme-options-simplicity-topaz .view-action:hover,.view-header-icon:hover{
	background:var(--button-hover);
	color:var(--color-dark-gray);
}

body.color-scheme-options-simplicity-topaz .view-action:active,.view-header-icon:active{
	opacity:0.75;
}


body.color-scheme-options-simplicity-topaz .workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle{
	background:none;
	height:7px;
	border:none;
    background-color:transparent;
}

body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
body.color-scheme-options-simplicity-topaz .workspace-split.mod-left-split > .workspace-leaf-resize-handle,
body.color-scheme-options-simplicity-topaz .workspace-split.mod-right-split > .workspace-leaf-resize-handle{
	background:none;
    background-color:transparent;
	width:3px;
	border:none;
}
body.color-scheme-options-simplicity-topaz .workspace-split .workspace-leaf-resize-handle:hover{
	background:var(--simple-gray-2);
}

body.color-scheme-options-simplicity-topaz .workspace-split.mod-root .view-content
{
  background-color: var(--simple-white-1);

}
/*
--------------------------- 
	Main Pane Border Styling 
---------------------------
*/
body.color-scheme-options-simplicity-topaz .workspace-split.mod-horizonta.mod-left-split.is-collapsed+.workspace-split.mod-root > .workspace-leaf:first-of-type .workspace-leaf-content{
	border-top-left-radius: 0px;
}

body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical.mod-root .workspace-leaf{

	border-radius:8px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical.mod-root .workspace-split.mod-vertical:not(:first-child):last-child .workspace-leaf{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical.mod-root,
body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical.mod-root .workspace-split{
	display:flex;
	gap:18px;
}
body.color-scheme-options-simplicity-topaz .workspace>.workspace-split.mod-vertical{
	padding: 10px 20px 0;
}

body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical.mod-root .workspace-leaf{
	box-shadow:var(--window-shadow2);
	height:100%;
}
body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical > .workspace-leaf{
	padding:0;
}
body.color-scheme-options-simplicity-topaz .workspace-split.mod-root > .workspace-leaf:last-of-type .workspace-leaf-content{
	border-top-right-radius: 0px;
}
 

/* Remove sttles on button-on-active, but not during right-click-menu as that is alright */
body.color-scheme-options-simplicity-topaz .nav-folder-title,
body.color-scheme-options-simplicity-topaz .nav-file{
	border:none;
}
body.color-scheme-options-simplicity-topaz .workspace-leaf.mod-active .nav-folder.has-focus > .nav-folder-title, 
body.color-scheme-options-simplicity-topaz .workspace-leaf.mod-active .nav-file.has-focus{
	border-radius:none;
	border:none;
	background-color:none;
}


body.color-scheme-options-simplicity-topaz .workspace-split.mod-horizontal > .workspace-leaf.mod-active .view-header, 
body.color-scheme-options-simplicity-topaz .workspace-split.mod-vertical > .workspace-leaf.mod-active .view-header {
	background:var(--simple-white-1);
}

body.color-scheme-options-simplicity-topaz .workspace-tab-header:not(.is-active ) .workspace-tab-header-inner-icon
{
    color: var(--text-faint);
    opacity: 0.3;
}

body.color-scheme-options-simplicity-topaz .nav-file-title.is-active
{
    --background-secondary-alt: rgba(var(--interactive-accent-rgb), 0.3);
}

body.color-scheme-options-simplicity-topaz .markdown-source-view.mod-cm6 .cm-underline,
body.color-scheme-options-simplicity-topaz a, 
body.color-scheme-options-simplicity-topaz :is(.markdown-preview-view,.markdown-rendered) .internal-link
{
    font-weight: 600;
}

body.color-scheme-options-simplicity-topaz  .nav-files-container ,
body.color-scheme-options-simplicity-topaz .workspace-split .view-content
{
    overflow-x: hidden;
}

body.color-scheme-options-simplicity-topaz .nav-folder-children,
body.color-scheme-options-simplicity-topaz
 .item-list{
	display:flex;
	flex-direction:column;
	gap:2px;
}

body.color-scheme-options-simplicity-topaz .nav-file-title,
body.color-scheme-options-simplicity-topaz .nav-folder-title{
	padding:2px 15px;
	transition:0.05s ease-in;
}
body.color-scheme-options-simplicity-topaz .nav-folder-title{
	font-weight:500;
}

body.color-scheme-options-simplicity-topaz :is(h3,h4,h5,h6),
body.color-scheme-options-simplicity-topaz .cm-s-obsidian :is(.cm-header-3,.cm-header-4,.cm-header-5,.cm-header.cm-header-6)
 {
    font-weight: 500;
}