/*来自  九炎*/
/*使用一个选择器选择列表*/

.list2table.markdown-preview-sizer  ::-webkit-scrollbar{
  
        width: 0px;
      
}

.list2table .markdown-preview-sizer  ，
.list2table .markdown-preview-sizer  ul ,
.list2table .markdown-preview-sizer  li ul{
    border-style: solid;
    border-width: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    /*width: 100%;*/
    height: inherit !important;
    display: table-column-group;
    outline: solid var(--background-modifier-border) 1px;
    overflow-block: hidden;
}
.list2table .markdown-preview-sizer  li{
	align-items: center;
    font-size: large !important;
    border-style: solid;
    border-width: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    width: 100% !important; 
    min-height: 36px;
    display: -webkit-flex;
    outline: solid var(--background-modifier-border) 1px;
    overflow-x: auto;
}


 

.list2table .markdown-preview-sizer  .p {
    width: min-content;
    min-width: 200px;
    margin-right: 0px;
    margin-left: 0px;
    display: table-cell;
}
.list2table .markdown-preview-sizer   .div {
    width: min-content;
    min-width: 20px !important;
}
.list2table .markdown-preview-sizer  li::first-line *{
    width: 100% !important;
}
.list2table .markdown-preview-sizer  ul:last-child:first-child ~ li .p{
    width: 100% !important;
}
.list2table .markdown-preview-sizer  .protyle.attr:last-child:nth-child(3) .p{
    width: 100% !important;
}
.list2table.markdown-rendered .list-bullet{
    float: none;
    margin-left: -0;
    display: none;
}

.list2table ul{
    margin: 0;
    padding: 0%;
}
.list2table li{
    margin: 0 !important;
    padding: 0% !important;
}
.list2table li:only-of-type{
    min-height: 100% !important;
}
.list2table .list-collapse-indicator{
    display: none
}
.list2table .has-list-bullet::before{
    display: none !important;
}