/* This snippet was generated  on Blue Topaz example */
/* https://github.com/cumany/Blue-topaz-examples */
/* 
==========================
======= mytools=======
==========================
*/
  

/*预览模式减少文档左右上下的空白*/

.markdown-preview-view.mytools
{
  padding: 0px 0px 0px 0px!important;
  
}

.markdown-preview-view.mytools .markdown-preview-section
{
  padding: 0!important;
}


/*隐藏滚动条*/
.markdown-preview-view.mytools::-webkit-scrollbar{
display:none;
}
 
/*隐藏yaml区域*/
.markdown-preview-view.mytools  div>.language-yaml
{	
  display: none;
}

/*隐藏行号*/
.workspace-split:not(.mod-root) .markdown-source-view.mytools  div.cm-gutters
{	
  display: none;
}

.workspace-split:not(.mod-root) .markdown-preview-view.mytools p
{
 
  font-size: smaller;
 
}

/*编辑模式缩小行距*/
.workspace-split:not(.mod-root) .markdown-source-view.mytools .markdown-preview-section  .cm-content,
.workspace-split:not(.mod-root) .markdown-source-view.mytools  .cm-editor,
.workspace-split:not(.mod-root) .markdown-source-view.mytools  .cm-scroller
{	
  font-size: 12px;
  margin: 0;
  padding: 0!important;
}


/*减少ad标签的左右空白*/
.markdown-preview-view.mytools .admonition {
    margin: 0;
    margin-left: -1px;
}
.markdown-preview-view.mytools .admonition .admonition-content {
  margin: -12px  0 0 5px;
}
.markdown-preview-view.mytools .admonition .callout-content.admonition-content {
 
  margin-right: -5px;
 
}
.markdown-preview-view.mytools .admonition-title-markdown {
  font-size: initial;
}

/*边栏工作区文档图标自定义*/
.workspace-tab-header[aria-label="常用工具"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="常用工具"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-folder-file-icon);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg t="1641997260368" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4276" ><path d="M940.3 755.9L735.4 551.2C695 510.9 634.6 503 585.9 526.9L399.4 340.6V232l-224-167.8-112 111.9 168 223.8h108.7l186.5 186.3c-23.8 48.6-16.1 108.9 24.3 149.3l204.9 204.7c25.5 25.5 66.8 25.5 92.2 0l92.2-92.1c25.5-25.6 25.5-66.8 0.1-92.2zM643.9 457.5c49.5 0 96.1 19.2 131.1 54.2l33.9 33.9c27.6-12.1 53.9-28.8 76.6-51.6 64.9-64.9 87-156.1 66.3-239-3.8-15.7-23.6-21.2-35.2-9.6L786.5 375.6l-118.8-19.8-19.8-118.7L778.1 107c11.5-11.5 5.9-31.3-10-35.3-82.9-20.5-174.3 1.6-239 66.3-49.9 49.8-73.3 115.5-72.1 181.1l143.7 143.5c14.1-3.3 28.8-5.1 43.2-5.1zM462 600.9l-99.2-99.1L96.1 768.4c-43.7 43.7-43.7 114.5 0 158.2s114.6 43.7 158.4 0l216.3-216.1c-13.3-34.8-17.3-72.7-8.8-109.6zM175.4 889.3c-23.1 0-42-18.9-42-42 0-23.2 18.7-42 42-42s42 18.7 42 42c0 23.1-18.7 42-42 42z" p-id="4277"></path></svg>');   
}
.workspace-tab-header[aria-label="常用工具"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-normal);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg t="1641997260368" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4276" ><path d="M940.3 755.9L735.4 551.2C695 510.9 634.6 503 585.9 526.9L399.4 340.6V232l-224-167.8-112 111.9 168 223.8h108.7l186.5 186.3c-23.8 48.6-16.1 108.9 24.3 149.3l204.9 204.7c25.5 25.5 66.8 25.5 92.2 0l92.2-92.1c25.5-25.6 25.5-66.8 0.1-92.2zM643.9 457.5c49.5 0 96.1 19.2 131.1 54.2l33.9 33.9c27.6-12.1 53.9-28.8 76.6-51.6 64.9-64.9 87-156.1 66.3-239-3.8-15.7-23.6-21.2-35.2-9.6L786.5 375.6l-118.8-19.8-19.8-118.7L778.1 107c11.5-11.5 5.9-31.3-10-35.3-82.9-20.5-174.3 1.6-239 66.3-49.9 49.8-73.3 115.5-72.1 181.1l143.7 143.5c14.1-3.3 28.8-5.1 43.2-5.1zM462 600.9l-99.2-99.1L96.1 768.4c-43.7 43.7-43.7 114.5 0 158.2s114.6 43.7 158.4 0l216.3-216.1c-13.3-34.8-17.3-72.7-8.8-109.6zM175.4 889.3c-23.1 0-42-18.9-42-42 0-23.2 18.7-42 42-42s42 18.7 42 42c0 23.1-18.7 42-42 42z" p-id="4277"></path></svg>');   
}

.workspace-tab-header[aria-label="彩色时钟"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="彩色时钟"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-folder-file-icon);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg t="1642770162211" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="16157" ><path d="M512 62C263.5 62 62 263.5 62 512s201.5 450 450 450 450-201.5 450-450S760.5 62 512 62z m307.6 492.3c-3.2 3.3-7.5 5.1-12 5.1h-301c-4.7 0-9.1-1.8-12.4-5.1-3.3-3.4-5.2-7.8-5.2-12.4V278.7c0-4.9 1.7-9 5.1-12.4 3.3-3.2 7.7-5.1 12.4-5.1 4.9 0 9.1 1.7 12.4 5.1 3.2 3.3 5.1 7.7 5.1 12.4v245.6h283.2c4.6 0 9 1.9 12.4 5.2 3.3 3.4 5.2 7.8 5.2 12.4-0.1 4.7-1.9 9.1-5.2 12.4z" p-id="16158"></path></svg>');   
}
.workspace-tab-header[aria-label="彩色时钟"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-muted);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg t="1642770162211" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="16157" ><path d="M512 62C263.5 62 62 263.5 62 512s201.5 450 450 450 450-201.5 450-450S760.5 62 512 62z m307.6 492.3c-3.2 3.3-7.5 5.1-12 5.1h-301c-4.7 0-9.1-1.8-12.4-5.1-3.3-3.4-5.2-7.8-5.2-12.4V278.7c0-4.9 1.7-9 5.1-12.4 3.3-3.2 7.7-5.1 12.4-5.1 4.9 0 9.1 1.7 12.4 5.1 3.2 3.3 5.1 7.7 5.1 12.4v245.6h283.2c4.6 0 9 1.9 12.4 5.2 3.3 3.4 5.2 7.8 5.2 12.4-0.1 4.7-1.9 9.1-5.2 12.4z" p-id="16158"></path></svg>');   
}

.markdown-preview-view.mytools .embedded-backlinks
{
  display: none;
}

.markdown-preview-view.mytools .admonition-content
{
  overflow-x:hidden;
}

.workspace-tab-header[aria-label="music_toolbar"] > .workspace-tab-header-inner > .workspace-tab-header-inner-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-folder-file-icon);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg t="1648001957900" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2255" ><path d="M895.456 770.56C895.552 769.696 896 768.896 896 768L896 160c0-1.056-0.512-1.984-0.608-3.008-0.032-1.664 0.448-3.232 0.16-4.928-2.88-17.408-19.328-29.184-36.8-26.304l-480 80c-17.408 2.912-29.216 19.392-26.304 36.832 0.256 1.472 1.024 2.656 1.44 4.032C352.96 249.664 352 252.672 352 256l0 429.6c-20.128-9.376-43.648-14.784-69.408-14.784-21.312 0-42.816 3.456-63.968 10.336-39.616 12.8-73.536 36.224-95.584 65.984-24.064 32.512-31.68 70.24-20.864 103.648 15.648 48.288 66.656 79.456 129.92 79.456 21.248 0 42.72-3.456 63.904-10.304 58.656-19.04 100.288-59.2 115.04-103.808C413.888 811.328 416 806.016 416 800l0-5.312c1.056-8.48 1.056-16.96 0-25.472L416 264.448l416-69.344 0 490.88c-20.32-9.632-44.096-15.2-70.176-15.2-21.28 0-42.816 3.456-63.968 10.336-39.584 12.8-73.568 36.224-95.584 65.984-24.096 32.512-31.68 70.24-20.864 103.648 15.648 48.288 66.656 79.456 129.92 79.456 21.248 0 42.752-3.456 63.904-10.304C853.472 894.56 902.176 831.68 895.456 770.56z" p-id="2256" ></path></svg>');   

}
.workspace-tab-header[aria-label="music_toolbar"] > .workspace-tab-header-inner > .workspace-tab-header-inner-icon > svg {
  display: none;
}
 
.markdown-preview-view.mytools .grad_button { 
  min-width: 60px;
  padding: 0  10px;
  height: 32px;
  font-size: 13px;
  }

  /*ob 1.0*/
.mytools  .inline-title
{
display: none;
}
 
.mytools .callout-title {
  align-items: center;
}

.workspace-tab-header[aria-label="常用工具"] .workspace-tab-header-status-container
{
  display: none;
}

:is(.workspace-tab-header[aria-label="常用工具"],.workspace-tab-header[aria-label="彩色时钟"]).is-active
{
  background-color:transparent;
}

 