/* This snippet was generated  on Blue Topaz example */
/* https://github.com/cumany/Blue-topaz-examples */

.is-mobile .myhome  img[alt="inlL"]
{
	display:none;
	
}
.is-mobile .myhome .cus_pic
{
	display:contents;
	
}

body.style-options-for-admonition-plugin.is-mobile .myhome .admonition-grid>.admonition-content-holder>.admonition-content {	columns: 200px 2;
     -moz-columns: 200px 2;
    -webkit-columns: 200px 2;
}



body.blockquote-style-quotation-mark.is-mobile .markdown-preview-view.myhome blockquote em{
    text-indent:2em !important;
}

body.blockquote-style-quotation-mark.is-mobile .markdown-preview-view.myhome blockquote {
    padding-left:5px;
}

body.style-options-for-admonition-plugin.is-mobile .myhome .admonition-kanban ul>li:not(.task-list-item) {
    padding:5px !important;
      
} 

.is-mobile .myhome .admonition-content button {
	width:initial;
    padding:0px;
}
.is-mobile .myhome audio{
	

    margin-left: 50%;
    margin-top: 30px;
}

.myhome .obsidian-banner-wrapper > .obsidian-banner img.banner-image {

    cursor: initial;
	pointer-events: none;
}


.myhome .cus_pic {
  margin-top: -5px!important;
  min-width: 120px;
  max-width: 80%;

}
.myhome audio {
  margin-left: calc(10% - 40px);
  margin-top: 20px;
  filter: sepia(20%) saturate(80%) grayscale(1) contrast(99%) invert(12%);
  -moz-opacity: 0.2;
  opacity: 0.15;
  width: 100px;
  height: 20px;
  position: absolute;
}
.myhome audio::-webkit-media-controls-mute-button {
  display: none !important;
  }	
  .myhome audio::-webkit-media-controls-current-time-display
  {
    display: none !important;
    }
    .myhome audio::-webkit-media-controls-seek-back-button
    {
      display: none !important;
      }
    .myhome audio::-webkit-media-controls-seek-forward-button
    {
      display: none !important;
      }
      .myhome audio::-webkit-media-controls-rewind-button{

        display: none !important;
      }
.myhome audio::-webkit-media-controls-time-remaining-display
{
  display: none !important;
  }
.myhome audio::-webkit-media-controls-timeline
{
  display: none !important;
  }
  .myhome audio::-webkit-media-controls-timeline-container
  {
    display: none !important;
  }
  .myhome audio::-webkit-media-controls-volume-slider {
  display: none !important;
  }
  
  .myhome audio::-webkit-media-controls-volume-control-container.closed {
  display: none !important;
  }
  .myhome audio::-webkit-media-controls-volume-control-container{
  display: none !important;
  }

  
  .myhome .embedded-backlinks
  {
    display:none;
  }
  .myhome .obsidian-banner-icon .icon-box img
  {
    content: url("https://api.wolai.com/v1/icon");
  }


  body.adjustable-embed-content-height .markdown-preview-view.myhome .markdown-embed-content {
  
    max-height: 100%;
  }
 
  .myhome.markdown-preview-view .markdown-preview-section
  {
    padding-bottom: 0px !important;
  }

  .admonition-kanban li 
  {
    font-size: 13.33px;
  }

.tasks progress{
  background:#f0ec05; 
    margin-left: -6px;
    float: left;
    margin-top: 8px;
    overflow: hidden;
    height: 8px;
}
.tasks progress.yellow::-moz-progress-bar { 
  background: #e78f0c; 
}
.tasks progress.green::-webkit-progress-value  {
  background: #46da48; 
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


.callout-content .block-language-dataviewjs p::first-letter{
  color: var(--text-accent);
  font-size: 2em;
  margin: 0 .2em 0 0;
}



.myhome .admonition-blank .admonition-content{
  
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
}

.myhome .admonition-blank .admonition-content ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.myhome .admonition-blank .admonition-content ul li {
  display: inline-block;
}

.myhome .admonition-blank .admonition-content ul li a {
  padding: 8px;
  text-transform:uppercase;
  color: var(--text-normal);
  font-size: var(--font-size-edit-normal);
  text-decoration: none;
  display: block;
}

.myhome .admonition-blank .admonition-content ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-accent-hover);
}
/*主页天气动画位置*/
.myhome .svg-contain {
  display: block;
  float: left;
  max-width: 120px;
  height: 180px;
} 
.myhome [data-callout-metadata*="banner"] {
  margin-top: -4em;
}

/* --- Marquee Animated Callout --- */
div[data-callout="marquee"].callout { background: unset; border: unset; margin: unset; padding: unset; clear: both; overflow: hidden; }

div[data-callout="marquee"].callout > .callout-title { display: none; }

div[data-callout="marquee"].callout > .callout-content > p {
    animation-duration: 6s;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
    white-space: nowrap;
    --tw: 61ch;
    width: var(--tw);
    color: #5bdcd2;
    text-shadow: var(--tw) 0 currentColor, 
            calc(var(--tw) * 2) 0 currentColor, 
            calc(var(--tw) * 3) 0 currentColor,
            calc(var(--tw) * 4) 0 currentColor;
    will-change: transform;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-100%);
    }
}


#bongo-cat {
  height: 13vh;
  width: 15vw;
  margin-top:1em;
  bottom: 0;
  float: right;
}

.typing-animation {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1200ms;
}

path#f1-l1 {
  animation-name: typing-f1-l1;
}

path#f1-l2 {
  animation-name: typing-f1-l2;
}

path#f1-l3 {
  animation-name: typing-f1-l3;
}

path#f2-l4 {
  animation-name: typing-f2-l4;
}

path#f2-l5 {
  animation-name: typing-f2-l5;
}

path#f2-l6 {
  animation-name: typing-f2-l6;
}

path#f3-l7 {
  animation-name: typing-f3-l7;
}

path#f3-l8 {
  animation-name: typing-f3-l8;
}

path#f3-l9 {
  animation-name: typing-f3-l9;
}

@keyframes typing-f3-l9 {
  0% {
    d: path("M8,25L8,25");
  }
  82% {
    d: path("M8,25L8,25");
  }
  92% {
    d: path("M8,25L96,25");
  }
  100% {
    d: path("M8,25L96,25");
  }
}
@keyframes typing-f3-l8 {
  0% {
    d: path("M8,13L8,13");
  }
  68% {
    d: path("M8,13L8,13");
  }
  82% {
    d: path("M8,13L146,13");
  }
  100% {
    d: path("M8,13L146,13");
  }
}
@keyframes typing-f3-l7 {
  0% {
    d: path("M0,1L0,1");
  }
  60% {
    d: path("M0,1L0,1");
  }
  68% {
    d: path("M0,1L96,1");
  }
  100% {
    d: path("M0,1L96,1");
  }
}
@keyframes typing-f2-l6 {
  0% {
    d: path("M8,25L8,25");
  }
  54% {
    d: path("M8,25L8,25");
  }
  60% {
    d: path("M8,25L69,25");
  }
  100% {
    d: path("M8,25L69,25");
  }
}
@keyframes typing-f2-l5 {
  0% {
    d: path("M8,13L8,13");
  }
  44% {
    d: path("M8,13L8,13");
  }
  54% {
    d: path("M8,13L114,13");
  }
  100% {
    d: path("M8,13L114,13");
  }
}
@keyframes typing-f2-l4 {
  0% {
    d: path("M0,1L0,1");
  }
  30% {
    d: path("M0,1L0,1");
  }
  44% {
    d: path("M0,1L136,1");
  }
  100% {
    d: path("M0,1L136,1");
  }
}
@keyframes typing-f1-l3 {
  0% {
    d: path("M8,25L8,25");
  }
  24% {
    d: path("M8,25L8,25");
  }
  30% {
    d: path("M8,25L61,25");
  }
  100% {
    d: path("M8,25L61,25");
  }
}
@keyframes typing-f1-l2 {
  0% {
    d: path("M8,13L8,13");
  }
  14% {
    d: path("M8,13L8,13");
  }
  24% {
    d: path("M8,13L124,13");
  }
  100% {
    d: path("M8,13L124,13");
  }
}
@keyframes typing-f1-l1 {
  0% {
    d: path("M0,1L0,1");
  }
  14% {
    d: path("M0,1L160,1");
  }
  100% {
    d: path("M0,1L160,1");
  }
}
#paw-right--up,
#paw-right--down,
#paw-left--up,
#paw-left--down {
  animation: blink 300ms infinite;
}

#paw-right--up,
#paw-left--down {
  animation-delay: 150ms;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
#laptop__code {
  transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
}


#laptop__cover
{
  mix-blend-mode: hard-light;
}