
.DPDC {
  display: table;
  position: relative;
  box-sizing: border-box;
  font-size: 100.01%;
  font-style: normal;
  font-family: Arial;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  user-select: none;
}
.DPDCh,
.DPDCd {
  line-height: 1.4;
}
.DPDCh {
  margin-bottom: 1em;
}

.DPDCt {
  line-height: 1;
}
.DPDCth,
.DPDCtm,
.DPDCts {
  display: inline-block;
  vertical-align: text-top;
  white-space: nowrap;
}
.DPDCth {
  min-width: 0.6em;
  text-align: right;
}
.DPDCtm,
.DPDCts {
  min-width: 1.44em;
}
.DPDCtm::before,
.DPDCts::before {
  display: inline-block;
  content: ":";
  vertical-align: middle;
  margin: -0.34em 0 0 -0.07em;
  width: 0.32em;
  text-align: center;
  opacity: 0.72;
  filter: alpha(opacity=72);
}
.DPDCt12 {
  display: inline-block;
  vertical-align: baseline;
  top: -0.12em;
  position: relative;
  font-size: 40%;
}
.DPDCdm::after {
  content: " ";
}
.DPDCda::after {
  content: ", ";
}
.DPDCdt {
  margin-right: 0.48em;
}
.DPDCtn {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  border: 2px solid;
  border-radius: 50%;
  overflow: hidden;
}
.DPDCtn > i {
  display: block;
  content: "";
  position: absolute;
  right: 33%;
  top: -5%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
}
.DPDCs {
  margin: 0.96em 0 0 -3px;
  font-size: 90%;
  line-height: 1;
  white-space: nowrap;
}
.DPDCs sup {
  padding-left: 0.24em;
  font-size: 65%;
}
.DPDCsl::before,
.DPDCsl::after {
  display: inline-block;
  opacity: 0.4;
}
.DPDCsl::before {
  content: "~";
  margin: 0 0.12em;
}
.DPDCsl::after {
  content: "~";
  margin: 0 0.24em;
}
.DPDCs svg {
  display: inline-block;
  vertical-align: bottom;
  width: 1.2em;
  height: 1.2em;
  opacity: 0.48;
}
/*CUSTOM*/

.DPDC {
  width: auto;
  padding: 24px;
  background-color: transparent;
  border-radius: 8px;
} /* widget width, padding, background, border, rounded corners */
.DPDCh {
  color: #007dbf;
  font-weight: normal;
} /* headline color, font-weight*/
.DPDCt,
.DPDCd {
  color: var(--text-normal);
  font-weight: bold;
} /* time & date color, font-weight */
.DPDCtn {
  border-color:  var(--text-normal);
} /* night-sign color = time & date color */
.DPDCtn > i {
  background-color:  var(--text-normal);
} /* night-sign color = time & date color */
.DPDCt {
  font-size: 42px;
} /* time font-size */
.DPDCh,
.DPDCd {
  text-align: center;
  font-size: 16px;
} /* headline & date font-size */
