/*标题编号*/
 .view-content
{
counter-reset: h1-count 0 h2-count 0 h3-count 0 h4-count 0 h5-count 0 h6-count 0;
}

.HyperMD-header-1,h1,
.h1{
  counter-increment: h1-count;
    counter-reset: h2-count 0;
}

.HyperMD-header-2,h2,
.h2 {
    counter-reset: h3-count 0;
}

.HyperMD-header-3,h3,
.h3 {
    counter-reset: h4-count 0;
}
.HyperMD-header-4,
h4,
.h4 {
    counter-reset: h5-count 0;
}
.HyperMD-header-5,
h5,
.h5 {
    counter-reset: h6-count 0;
}
/*预览模式*/
.markdown-preview-view h1::before
{
display: block;
    float: left;
    font-size: 50%;
    /*content: counter(h1-count, cjk-ideographic) "\00A0";*/
	content: counter(h1-count,decimal) "\00A0";
}
.markdown-preview-view h2::before
{
display: block;
    float: left;
    font-size: 50%;
    /*content: counter(h1-count, cjk-ideographic) "\00A0";*/
    counter-increment: h2-count;
    content: counter(h1-count) "."counter(h2-count) "\00A0";
}
.markdown-preview-view h3::before
{
display: block;
    float: left;
    font-size: 50%;
    /*content: counter(h1-count, cjk-ideographic) "\00A0";*/
	  counter-increment: h3-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "\00A0";
}
.markdown-preview-view h4::before
{
display: block;
    float: left;
    font-size: 50%;
    /*content: counter(h1-count, cjk-ideographic) "\00A0";*/
    counter-increment: h4-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "\00A0";
}
.markdown-preview-view h5::before {
display: block;
    float: left;
    font-size: 50%;
    counter-increment: h5-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "."counter(h5-count) "\00A0";
}
.markdown-preview-view h6::before {
display: block;
    float: left;
    font-size: 50%;
    counter-increment: h6-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "."counter(h5-count) "."counter(h6-count) "\00A0";
}
/*编辑模式*/
.cm-line span:not(.cm-formatting-header).cm-header-1:nth-child(2)::after {
margin-left: -17px;
display: block;
    float: left;
    font-size: 50%;
    /*content: counter(h1-count, cjk-ideographic) "\00A0";*/
	content: counter(h1-count,decimal) "\00A0";
}

.cm-line span:not(.cm-formatting-header).cm-header-2:nth-child(2)::after {
  counter-increment: h2-count;
display: block;
    float: left;
    font-size: 50%;
	margin-left: -17px;
	/*margin-left: -17px;
	font-size: 50%;
	*/
   
    content: counter(h1-count) "."counter(h2-count) "\00A0";
}

.cm-line span:not(.cm-formatting-header).cm-header-3:nth-child(2)::after {
    display: block;
    float: left;
    font-size: 50%;
	margin-left: -17px;
  counter-increment: h3-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "\00A0";
}

.cm-line span:not(.cm-formatting-header).cm-header-4:nth-child(2)::after {
    display: block;
    float: left;
    font-size: 50%;
	margin-left: -17px;
  counter-increment: h4-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "\00A0";
}

.cm-line span:not(.cm-formatting-header).cm-header-5:nth-child(2)::after {
    display: block;
    float: left;
    font-size: 50%;
	margin-left: -17px;
  counter-increment: h5-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "."counter(h5-count) "\00A0";
}

.cm-line span:not(.cm-formatting-header).cm-header-6:nth-child(2)::after {
    display: block;
    float: left;
    font-size: 50%;
	margin-left: -17px;
  counter-increment: h6-count;
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "."counter(h5-count) "."counter(h6-count) "\00A0";
}